@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@300;400;500;600&display=swap");
@font-face {
  font-family: "SCDream3";
  src: url("../fonts/SCDream3.otf");
}
@font-face {
  font-family: "SCDream5";
  src: url("../fonts/SCDream5.otf");
}

:root {
  --mw: 1440px;
  --gap16: 1rem;
  --gap32: 2rem;
  --font_c: #2e2e2e;
  --main_c: #3d424a;
  --gray_c: #d9d9d9;
  --point_c: #e8a9a9;
  --f_title: 32px;
  --f_sub_title: 24px;
  --f_body: 16px;
}

.mw {
  max-width: var(--mw);
  width: calc(100% - 2rem);
  margin: auto;
}
.en {
  /* 영어 폰트 */
  font-family: "Athiti", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "SCDream3", sans-serif;
  color: var(--font_c);
  position: relative;
  overflow-x: hidden;
}

/* ///// 헤더 영역 ///// */
.hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: var(--gap16);
  border-bottom: 1px solid var(--gray_c);
  position: fixed;
  width: 100%;
  left: 50%;
  top: -100vh;
  z-index: 100;
  transform: translateX(-50%);
  transition: top 0.3s ease-in-out;
  background-color: #ffffff70;
}
.hd.header-visible {
  top: 0; /* 헤더가 나타날 위치 */
}
.hd .logo {
  width: 140px;
  text-align: center;
}
.hd .logo img {
  width: 100%;
}
.hd .gnb {
  /* width: 40%; */
  display: flex;
  flex-wrap: nowrap;
}
.hd .gnb a {
  display: inline-block;
  /* width: calc(100% / 4 - 1rem); */
  width: 100px;
  padding: 0.25rem 0.5rem;
  text-align: center;
  font-size: 1.25rem;
}
.hd .gnb a:hover {
  font-weight: bold;
  color: var(--point_c);
}
.hd .gnb a.on {
  background-color: var(--main_c);
  color: #fff;
}

/* ///// 인트로 영역 ///// */
.introWrap {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
.introWrap .introTitle {
  font-size: 60px;
  font-weight: 500;
  padding: 0 var(--gap16);
}
.introWrap .introLine {
  width: 0;
  height: 0;
  margin-top: 0.5rem;
  border-top: 1px solid var(--main_c);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: lineAnimation 1.5s 1 forwards;
}

@keyframes lineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.introWrap .introTitle_ko {
  font-size: var(--f_sub_title);
  text-align: right;
  padding: var(--gap16);
}

.scroll-down-con {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.scroll-down-con .scroll-down {
  color: var(--gray_c);
  font-size: 2.5rem;
  padding: var(--gap16);
}
.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 200px;
  height: 200px;
  visibility: hidden;
}
.circle:before {
  content: "";
  position: relative;
  display: block;
  width: 200%;
  height: 200%;
  box-sizing: border-box;
  margin-left: -50%;
  margin-top: -50%;
  border-radius: 50%;
  /* background-color: var(--gray_c); */
  border: 5px solid var(--gray_c);
  -webkit-animation: pulse-ring 2.5s infinite;
  animation: pulse-ring 2.5s infinite;
}
.circle:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-animation: pulse-dot 2.5s -0.4s infinite;
  animation: pulse-dot 2.5s -0.4s infinite;
}
@-webkit-keyframes pulse-ring {
  0% {
    transform: scale(0.3);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.3);
  }
  80%,
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes pulse-dot {
  0% {
    transform: scale(0.7);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
    opacity: 0.5;
  }
}
@keyframes pulse-dot {
  0% {
    transform: scale(0.7);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
    opacity: 0.5;
  }
}

/* ///// gotop 버튼 ///// */
.gotop {
  position: fixed;
  align-items: center;
  bottom: 2rem;
  right: 5%;
  z-index: 10;
  display: none;
}
.gotop i {
  background-color: var(--point_c);
  border: 1px solid var(--point_c);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  line-height: 3rem;
}
.gotop:hover i {
  line-height: 2.5rem;
}

/* ///// 미디어쿼리 ///// */
@media (max-width: 1024px) {
  .introWrap .introTitle {
    font-size: 48px;
  }
  .introWrap .introTitle_ko {
    font-size: 16px;
  }
  .scroll-down-con .scroll-down {
    font-size: 1.5rem;
  }
  .scroll-down-con img {
    width: 20px;
  }
}

@media (max-width: 768px) {
  .hd {
    height: 120px;
    flex-direction: column;
  }
  .hd .gnb {
    margin-top: 0.5rem;
  }
  .introWrap .introTitle {
    font-size: 32px;
  }
  .introWrap .introLine {
    height: 1px;
    width: calc(100% - 1rem);
    margin: 0 auto;
  }
  .introWrap .introTitle_ko {
    font-size: 14px;
  }
  .scroll-down-con .scroll-down {
    font-size: 1.25rem;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .hd .logo {
    width: 120px;
    text-align: center;
  }
  .hd .gnb {
    width: 100%;
  }
  .hd .gnb a {
    width: calc(100% / 4 - 1rem);
    margin: auto;
    font-size: 0.9rem;
  }
  .introWrap .introTitle {
    font-size: 28px;
    text-align: center;
  }
  .introWrap .introTitle_ko {
    text-align: center;
  }
}

@media (max-width: 340px) {
  .introWrap .introTitle {
    font-size: 24px;
    text-align: center;
  }
  .introWrap .introTitle_ko {
    width: calc(100% - 2rem);
    margin: 0 auto;
    font-size: 12px;
  }
  .scroll-down-con .scroll-down {
    font-size: 1rem;
  }
  .scroll-down-con img {
    width: 16px;
  }
}
