main {
  position: relative;
  margin-top: 100vh;
  z-index: 10;
}
.sec {
  /* border: 1px solid dodgerblue; */
  height: 100vh;
  position: relative;
}

/* ///// about 영역 ///// */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--gray_c);
}
.about .about-imgCon {
  width: 400px;
  position: relative;
}
.about .about-imgCon img {
  width: 100%;
  object-fit: contain;
}
.about .about-imgCon::after {
  content: "";
  border: 1px solid var(--point_c);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 6px;
  right: -10px;
  z-index: -1;
}
.about .about-inner {
  padding: 0 3rem;
  margin-top: 3rem;
}
.about .about-title {
  font-size: 2rem;
  line-height: 180%;
}
.about .about-title strong {
  font-family: "SCDream5";
}
.about .about-inner .flip {
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  display: flex;
  align-items: flex-start;
  margin: var(--gap32) 0;
}
.about .about-inner .flip p {
  color: #fff;
  font-size: 1.25rem;
}
.about .about-inner .flip ul {
  color: var(--point_c);
  font-size: 1.5rem;
  margin-left: 1rem;
  animation: 6s linear 0s normal none infinite change;
}
.about .about-inner .flip ul li {
  line-height: 30px;
}
@keyframes change {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 0;
  }
  25% {
    margin-top: -30px;
  }
  40% {
    margin-top: -30px;
  }
  50% {
    margin-top: -60px;
  }
  65% {
    margin-top: -60px;
  }
  75% {
    margin-top: -30px;
  }
  85% {
    margin-top: -30px;
  }
  100% {
    margin-top: 0;
  }
}

.about .about-txt {
  color: #fff;
  line-height: 180%;
}
.about .background-box {
  /* border: 1px solid red; */
  width: 100%;
  height: 280px;
  position: absolute;
  bottom: 20%;
  left: 0;
  background-color: var(--main_c);
  z-index: -10;
}

/* ///// skill 영역 /////*/
.skill .skill-title {
  color: var(--point_c);
  font-size: 2rem;
  position: relative;
}
.skill .skill-wrap {
  padding-top: 5rem;
}
.skill .back-font {
  font-size: 200px;
  line-height: 0.8;
  text-align: right;
  letter-spacing: -10px;
  position: absolute;
  top: 20px;
  right: 0;
  color: #eaeaea60;
}
.skill .skill-inner .skill-edu::after {
  content: "";
  border-bottom: 1px solid var(--point_c);
  width: 600px;
  height: 1px;
  position: absolute;
  bottom: 10px;
  left: 100%;
  margin-left: 2rem;
}
.skill-inner ul {
  /* border: 1px solid red; */
  position: relative;
  padding: 0 var(--gap16);
  margin: var(--gap32);
  line-height: 200%;
}
.skill-inner .edu-list li:first-of-type {
  font-size: 1.25rem;
  color: #888;
}
.skill-inner .edu-list li:first-of-type::before {
  content: "";
  position: absolute;
  border-left: 5px solid #666;
  width: 5px;
  height: 30%;
  top: 0;
  left: 0;
}
.skill .skill-skills::after {
  content: "";
  border-bottom: 1px solid var(--point_c);
  width: 1200px;
  height: 1px;
  position: absolute;
  bottom: 10px;
  left: 100%;
  margin-left: 2rem;
}

.skill .skill-skills {
}

/* ///// 미디어쿼리 ///// */
@media (max-width: 1024px) {
  .about .about-title {
    font-size: 1.5rem;
    line-height: 160%;
  }
  .about .about-txt {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .sec {
    display: block;
  }
  .about .about-imgCon {
    margin: 3rem auto;
    /* width: calc(60% - 2rem); */
  }
  .about .background-box {
    height: 25%;
    bottom: 10%;
  }
}

@media (max-width: 480px) {
  .about .about-imgCon {
    width: calc(100% - 2rem);
    /* width: 340px; */
  }
  .about .about-inner {
    padding: 0 var(--gap16);
  }
  .about .about-title {
    font-size: 1.3rem;
    margin-top: 4rem;
  }
  .about .about-txt {
    font-size: 0.8rem;
  }
  .about .background-box {
    height: 30%;
    bottom: 12%;
  }
}
@media (max-width: 430px) {
  .about .background-box {
    height: 30%;
    bottom: 10%;
  }
}
@media (max-width: 360px) {
  .about .about-title {
    padding: 0;
    font-size: 1.4rem;
  }
  .about .background-box {
    height: 32%;
    bottom: 0;
  }
}
