main {
  position: relative;
  margin-top: 100vh;
  z-index: 10;
  display: none;
}
.sec {
  /* border: 1px solid dodgerblue; */
  min-height: 100vh;
  position: relative;
  border-bottom: 1px solid var(--gray_c);
}

/* ///// about 영역 ///// */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about-imgCon {
  width: 400px;
  position: relative;
}
.about .about-imgCon img {
  width: 100%;
  object-fit: contain;
}
.about .about-imgCon::after {
  content: "";
  border: 1px solid var(--point_c);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 6px;
  right: -10px;
  z-index: -1;
}
.about .about-inner {
  padding: 0 3rem;
  margin-top: 3rem;
}
.about .about-title {
  font-size: 2rem;
  line-height: 180%;
}
.about .about-title strong {
  font-family: "SCDream5";
}
.about .flip-con {
  border: 1px solid red;
  width: 100%;
}
.about .about-inner .flip {
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  display: flex;
  align-items: flex-start;
  margin: var(--gap32) 0;
}

.about .about-inner .flip p {
  color: #fff;
  font-size: 1.25rem;
}
.about .about-inner .flip ul {
  color: var(--point_c);
  font-size: 1.5rem;
  margin-left: 1rem;
  animation: 6s linear 0s normal none infinite change;
}
.about .about-inner .flip ul li {
  line-height: 30px;
}
@keyframes change {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 0;
  }
  25% {
    margin-top: -30px;
  }
  40% {
    margin-top: -30px;
  }
  50% {
    margin-top: -60px;
  }
  65% {
    margin-top: -60px;
  }
  75% {
    margin-top: -30px;
  }
  85% {
    margin-top: -30px;
  }
  100% {
    margin-top: 0;
  }
}

.about .about-txt {
  color: #fff;
  line-height: 2rem;
  position: relative;
}

.about .background-box {
  /* width: 100%; */
  width: var(--mw);
  height: 260px;
  position: absolute;
  bottom: 14rem;
  left: 0;
  background-color: var(--main_c);
  z-index: -10;
}

/* ///// skill 영역 /////*/
.skill .skill-title {
  color: var(--point_c);
  font-size: 2rem;
  position: relative;
  display: inline-block;
}
.skill .skill-wrap {
  padding-top: 5rem;
}
.skill .back-font {
  font-size: 12.5rem;
  line-height: 0.8;
  text-align: right;
  letter-spacing: -10px;
  position: absolute;
  top: 20px;
  right: 0;
  color: #eaeaea60;
}
.skill .edu::after {
  content: "";
  border-bottom: 1px solid var(--point_c);
  width: 600px;
  height: 1px;
  position: absolute;
  bottom: 10px;
  left: 100%;
  margin-left: 2rem;
}
.skill .edu-list {
  position: relative;
  padding: 0 var(--gap16);
  margin: var(--gap32);
  line-height: 200%;
}
.skill .edu-list li:first-of-type {
  font-size: 1.25rem;
  color: #888;
  position: relative;
}
.skill .edu-list li:nth-of-type(2) {
  font-weight: bold;
}
.skill .edu-list .date::before {
  content: "";
  position: absolute;
  border-left: 5px solid #666;
  width: 5px;
  height: 100%;
  top: 0;
  left: -10px;
}
.skill .stack::after {
  content: "";
  border-bottom: 1px solid var(--point_c);
  width: 1330px;
  height: 1px;
  position: absolute;
  bottom: 10px;
  left: 100%;
  margin-left: 2rem;
}
.skill .stack-sub {
  font-size: 0.75rem;
  display: inline-block;
  width: 100%;
  text-align: right;
}
.skill .stack-desc {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.skill .icons {
  /* border: 1px solid red; */
  margin: var(--gap32) 0;
}
.skill .icon-list {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.skill .icon-list li img {
  width: 100%;
  padding: 0 0.5rem;
  filter: grayscale(1);
  cursor: pointer;
}
.skill .icon-list li img:hover {
  filter: grayscale(0);
}
.skill .icon-list:nth-of-type(2) img {
  padding: 0 0.75rem;
}
.skill .icon-list li.on img {
  filter: grayscale(0);
}
.skill .stack-tab {
  /* border: 1px solid red; */
  margin-top: var(--gap32);
  flex-grow: 1;
  max-width: 700px;
}
.skill .stackTextCon {
  display: none;
}
.skill .stackTextCon.on {
  display: block;
}
.skill .stackTextCon h3 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.skill .stackText {
  line-height: 1.75;
  padding-left: var(--gap16);
}
.skill .stackText li {
  padding-left: var(--gap16);
  position: relative;
}
.skill .stackText li::before {
  content: "";
  border-top: 3px solid var(--main_c);
  position: absolute;
  width: 3px;
  height: 50%;
  top: 50%;
  left: 0;
}

/* project 영역 */
.project {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.project .project-title {
  color: var(--point_c);
  font-size: 2rem;
  position: relative;
  display: inline-block;
}
.project .project-title::after {
  content: "";
  border-bottom: 1px solid var(--point_c);
  width: 800px;
  height: 1px;
  position: absolute;
  bottom: 10px;
  left: 100%;
  margin-left: 2rem;
}
.project .swiper {
  width: 30%;
  /* min-width: 320px; */
  height: 100vh;
  overflow: hidden;
  background-color: var(--main_c);
}
.project .swiper-slide {
  overflow: hidden;
}
.project .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.project .swiper-slide:hover img {
  cursor: pointer;
  transform: scale(1.1);
}
.project .project-list {
  width: calc(100% - 500px);
  margin: 3rem auto 0;
}
.project .project-desc {
  display: none;
}
.project .project-desc.on {
  display: block;
}
.project .project-desc > div {
  margin-top: var(--gap32);
  text-align: center;
}
.project .project-desc p {
  padding: 0.5rem 0;
}
.project .project-desc > div:first-of-type p:nth-of-type(2) {
  font-size: 24px;
}
.project .project-desc span {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding-left: var(--gap16);
  margin: var(--gap16) 0 0.5rem;
  position: relative;
}
.project .project-desc > div:nth-of-type(3) {
  width: calc(100% - 2rem);
  margin: var(--gap32) auto;
  display: flex;
  justify-content: space-between;
}
.project .project-desc > div:nth-of-type(3) img {
  width: calc(100% / 3 - 1rem);
  height: 200px;
  object-fit: contain;
}
.project .project-desc button {
  background-color: transparent;
  border: 1px solid var(--main_c);
  outline: none;
  padding: 0.5rem var(--gap32);
  border-radius: var(--gap16);
  margin: 0 var(--gap32);
}
.project .project-desc button:hover {
  background-color: var(--point_c);
  border: 1px solid var(--point_c);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* contact 영역 */
.contact div:first-of-type {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: -10;
  padding-top: 5%;
}
.contact .back_font {
  color: #efefef80;
  font-size: 16rem;
  display: inline-block;
  padding-left: 100%;
  animation: marqueeEffect 20s linear infinite;
}
@keyframes marqueeEffect {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.contact div:first-of-type ~ div {
  padding: var(--gap32) var(--gap16);
}
.wrap .contact .contact-list1 {
  line-height: 50px;
  padding-top: 20%;
}
.contact .contact-list1 p:first-of-type {
  font-size: 2rem;
}
.contact .contact-list1 p:last-of-type {
  font-size: 1.5rem;
}
.contact .contact-list1 strong,
.contact-list1 + div strong {
  color: var(--point_c);
  font-weight: bold;
}
.contact .contact-list2 {
  padding-top: 5%;
}
.contact .contact-list2,
.contact-list2 + div {
  font-size: 1.25rem;
  text-align: right;
  line-height: 30px;
}
.contact .contact-list3 strong {
  color: var(--point_c);
}
.contact .contact-list3 p a:hover {
  font-weight: bold;
}
.contact .copyright {
  font-size: 0.75rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: var(--gap16) 0;
}

/* ///// 반응형 ///// */
@media (max-width: 1024px) {
  .about .about-title {
    font-size: 1.5rem;
    line-height: 160%;
  }
  .about .about-txt {
    font-size: 0.8rem;
  }
  .skill .back-font {
    font-size: 7rem;
  }
  .skill .stack-desc {
    flex-direction: column;
    align-items: center;
  }
  .skill .stack-tab {
    margin: var(--gap32) 0;
  }
  .project {
    /* display: block; */
  }
  .project .swiper {
    /* height: 80vh; */
  }
  .project .project-desc div:nth-of-type(3) {
    display: none;
  }
}

@media (max-width: 768px) {
  .sec {
    display: block;
  }
  .about .about-imgCon {
    margin: 3rem auto;
  }
  .about .background-box {
    bottom: 10.5rem;
  }
  .skill .edu-list li:first-of-type {
    font-size: 1rem;
  }
  .skill .edu-list li:last-of-type {
    font-size: 0.9rem;
  }
  .skill .icon-list {
    flex-wrap: wrap;
  }
  .skill .icon-list li img {
    width: 90%;
    padding: 0 0.25rem;
  }
  .contact .back_font {
    font-size: 12rem;
  }
}

@media (max-width: 480px) {
  .about .about-imgCon {
    width: calc(100% - 2rem);
  }
  .about .about-inner {
    padding: 0 var(--gap16);
  }
  .about .about-title {
    font-size: 1.3rem;
    margin-top: 4rem;
  }
  .about .about-txt {
    font-size: 0.8rem;
  }
  .about .background-box {
    bottom: 10rem;
  }
  .skill .icon-list li {
    margin: auto;
  }
  .skill .icon-list li img {
    width: 80%;
    padding: 0;
  }
  .contact .contact-list1 p:first-of-type {
    font-size: 28px;
  }
}
@media (max-width: 340px) {
  .about .about-title {
    padding: 0;
    font-size: 1.4rem;
  }
  .about .background-box {
    bottom: 16rem;
  }
  .skill .icon-list li {
    margin: auto;
  }
  .skill .icon-list li img {
    width: 65%;
  }
  .contact .contact-list1 p:first-of-type {
    font-size: 22px;
  }
  .contact .contact-list1 p:nth-of-type(2) {
    font-size: 20px;
  }
  .contact .contact-list2 p:nth-of-type(2) {
    font-size: 18px;
    white-space: nowrap;
  }
  .contact .contact-list3 p:first-of-type {
    white-space: nowrap;
  }
}
